<!DOCTYPE html>
<html lang="en">
<head>
  <title>Pusher Test</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <script src="https://js.pusher.com/4.4/pusher.min.js"></script>

  <script>

    // Enable pusher logging - don't include this in production
    Pusher.logToConsole = true;

    var pusher = new Pusher('a26085dc09d59ab89666', {
      cluster: 'eu',
      forceTLS: true
    });

    var channel = pusher.subscribe('my-channel');

    channel.bind('my-event', function(data) {
      document.getElementById("quest").innerHTML = data.question;

      var form = document.getElementById("fo");
      data.options.forEach((item) => {
         var option = document.createElement("p");
         option.innerHTML = item.text;
         form.appendChild(option);
      });


      var edit_save = document.getElementById("image");
      edit_save.src = data.message;

    });

  </script>


</head>
<body>

<h3 id="quest"></h3>
<form action="" method="post" id="fo">
    {% csrf_token %}



    <button type="submit" class="btn btn-primary">Войти</button>
</form>




  <img id=image src="">

<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</body>
