{% extends 'frontApp/mainWraper.html' %}
{% block title %}Профиль{% endblock %}
<div class="container">
{% block page %}
        <div class="row">
            <a href ="/" class="window teacher-card">
                <div class="row">
                    <div class="col-3"><img src="{{ student.ava }}"></div>
                    <div class="col-9"><h4>{{ student.second_name }} {{ student.name }}</h4>Студент</div>
                </div>
            </a>
        </div>
    {% block content %}
    {% endblock %}
{% endblock %}
</div>