{% extends 'frontApp/mainWraper.html' %}
{% block title %}Профиль{% endblock %}
{% block page %}
    <script src="https://js.pusher.com/4.4/pusher.min.js"></script>

    <div class="container">
        <div class="row">
            <div href="/" class="window teacher-card">
                <div class="row">
                    <div class="col-3"><img src="{{ student.ava }}"></div>
                    <div class="col-9"><h4>{{ student.second_name }} {{ student.name }}</h4>Студент</div>
                </div>
            </div>
        </div>
        <h1 data-id="{{ lesson.id }}" id="lesson">{{ lesson }}</h1>
        <div class="row" id="lection">
            <div id="content">{{ activity|safe }}</div>
        </div>
    </div>
    {% load staticfiles %}
    <script src="{% static 'watchLesson.js' %}"></script>
{% endblock %}
