{% extends 'frontApp/mainWraper.html' %}
{% block title %}Профиль{% endblock %}
{% block page %}
    <script src="https://js.pusher.com/4.4/pusher.min.js"></script>

    <script>
        function getCookie(name) {
            var cookieValue = null;
            if (document.cookie && document.cookie != '') {
                var cookies = document.cookie.split(';');
                for (var i = 0; i < cookies.length; i++) {
                    var cookie = jQuery.trim(cookies[i]);
                    // Does this cookie string begin with the name we want?
                    if (cookie.substring(0, name.length + 1) == (name + '=')) {
                        cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                        break;
                    }
                }
            }
            return cookieValue;
        }
        var csrftoken = getCookie('csrftoken');

        // Enable pusher logging - don't include this in production
        Pusher.logToConsole = true;

        var pusher = new Pusher('a26085dc09d59ab89666', {
            cluster: 'eu',
            forceTLS: true
        });

        var channel = pusher.subscribe('my-channel');

        channel.bind('my-event', function (data) {
            if (document.getElementById("content")) {
                document.getElementById("content").parentNode.removeChild(document.getElementById("content"));
            }

            var content = document.createElement('div');
            content.id = "content";

            if (data.message) {
                var edit_save = document.createElement("img");
                edit_save.style = "margin-top: 20px; max-width: 100%";
                edit_save.src = data.message;
                content.appendChild(edit_save);
            } else {

                if (data.question !== undefined) {
                    var q = document.createElement('h3');
                    q.innerHTML = data.question;
                    content.appendChild(q);
                }

                var form = document.createElement('form');
                form.setAttribute('action', '/option/');
                form.setAttribute('method', 'POST');

                var csrf = document.createElement('input');
                csrf.setAttribute('type', 'hidden');
                csrf.name = 'csrfmiddlewaretoken';
                csrf.value = csrftoken;
                form.appendChild(csrf);

                var lesson = document.createElement('input');
                lesson.value = document.getElementById("lesson").getAttribute("data-id");
                lesson.name = 'lesson';
                lesson.setAttribute("hidden", "hidden");
                form.appendChild(lesson);
                data.options.forEach((item) => {
                    var option = document.createElement("input");
                    option.id = item.id;
                    option.setAttribute("type", "radio");
                    option.value = item.id;
                    option.name = "answer";

                    var label = document.createElement("label");
                    label.setAttribute("for", item.id);
                    label.innerHTML = item.text;

                    var input = document.createElement("p");
                    input.appendChild(option);
                    input.appendChild(label);
                    form.appendChild(input);
                });

                var button = document.createElement('button');
                button.setAttribute('type', 'submit');
                button.className = "btn btn-primary";
                button.innerHTML = "Отправить";
                form.appendChild(button);
                content.appendChild(form);
            }

            document.getElementById("lection").appendChild(content);
        });


    </script>
    <div class="container">
        <div class="row">
            <div href="/" class="window teacher-card">
                <div class="row">
                    <div class="col-3"><img src="{{ student.ava }}"></div>
                    <div class="col-9"><h4>{{ student.second_name }} {{ student.name }}</h4>Студент</div>
                </div>
            </div>
        </div>
        <h1 data-id="{{ lesson.id }}" id="lesson">{{ lesson }}</h1>
        <div class="row" id="lection">
        </div>
    </div>
{% endblock %}
